{{define "content"}}
<dl>
<dt>version</dt><dd>{{.Version}}</dd>
<dt>valid from</dt><dd>{{stamp .ValidFrom}}</dd>
<dt>currency</dt><dd>{{.Currency}}</dd>
<dt>imported</dt><dd>{{stamp .ImportedAt}}</dd>
</dl>

{{template "tableTools" .Rows.Table}}
<table>
{{template "tableHead" .Rows.Table}}
<tbody>
{{range .Rows.Rows}}<tr>
<td>{{.Platform}}</td>
<td>{{.ResourceType}}</td>
<td>{{.Metric}}</td>
<td>{{.Type}}</td>
<td class="number">{{price .Price}}</td>
<td>{{range .StateModifiers}}{{.Key}}: {{price .Value}}<br>{{else}}none{{end}}</td>
<td>{{range .TypeModifiers}}{{.Key}}: {{price .Value}}<br>{{else}}none{{end}}</td>
</tr>
{{else}}<tr><td colspan="7">{{emptyText .Rows.Table "this catalog prices nothing"}}</td></tr>
{{end}}</tbody>
</table>
{{end}}
