{{define "content"}}
{{template "tableTools" .Models.Table}}
<table>
{{template "tableHead" .Models.Table}}
<tbody>
{{range .Models.Rows}}<tr>
<td><a href="{{.Link}}">{{.Model.Version}}</a></td>
<td>{{stamp .Model.ValidFrom}}</td>
<td>{{.Model.Currency}}</td>
<td>{{stamp .Model.ImportedAt}}</td>
</tr>
{{else}}<tr><td colspan="4">{{emptyText .Models.Table "no catalog is imported"}}</td></tr>
{{end}}</tbody>
</table>
{{end}}
