{{define "content"}}
{{template "tableTools" .Items.Table}}
<table>
{{template "tableHead" .Items.Table}}
<tbody>
{{range .Items.Rows}}<tr>
<td>{{.Project.Cloud}}</td>
<td><a href="{{.Link}}">{{.Project.ExternalId}}</a></td>
<td>{{optString .Project.Name .Project.ExternalId}}</td>
<td>{{.Project.Platform}}</td>
<td>{{stamp .Project.CreatedAt}}</td>
</tr>
{{else}}<tr><td colspan="5">{{emptyText .Items.Table "no project matched"}}</td></tr>
{{end}}</tbody>
</table>
{{if .NextLink}}<p><a href="{{.NextLink}}">next page</a></p>{{end}}
{{end}}
